body {
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 5vh;
}

.dark-mode {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 5vh;
}

#enableWakeLock, #labelForMobile {
  display: none;
}

@media screen and (min-height: 360px) {
  h3 {
    margin-top: 4vh;
    font-size: 8vh;
  }

  div {
    font-size: 12vh;
  }
}

@media screen and (max-width: 840px) {
  h3 {
    margin-top: 4vh;
    font-size: 3vh;
  }

  div {
    font-size: 4vh;
  }
}

@media screen and (min-width: 1080px) {
  h3 {
    font-size: 5vh;
  }

  div {
    font-size: 8vh;
  }
}

a {
  color: blue;
}

h2 {
  margin-top: -1.5vh;
  font-size: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  padding-top: 4.5vh;
  margin-bottom: -1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  width: 98.3%;
  margin: 0 auto;
  padding-top: 6vh;
  font-size: 2vh;
  bottom: 0;
  position: absolute;
  text-align: center;
}



div {
  padding-top: 2vh;
  padding-bottom: 1vh;
  width: auto;
  text-align: center;
}